/* *{
    border: solid red;
} */

.container{
    display: flex;
}

.navbar-nav ul li a{
    font-weight: bold;

}
/* #signup{
    background-color: #56A17E;
    border-radius: 10px;
    color: white;
} */
#navbarSupportedContent{
    font-weight: bold;
    
}
.landing img {
    /* position: absolute; */
    width: 612px;
    height: 555px;
    
    /* flex: auto; */
    /* float: right;     */
    /* margin-bottom: 100px; */
   
}

.text1 {
    font-family: 'Lato', sans-serif;
    left: 132px;
    top: 287px;
    color: #125736;
}
.text3 {
    
    left: 132px;
    top: 287px;
    color: #125736;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.text-landing{
    /* position: absolute; */
    margin: 70px 5px;
    /* display: flex; */
    
}
.text-landing2{
    
    left: 75px;
    top: 90px;
    text-align: center;
    
}
.text2{
    font-family: 'Lato', sans-serif;
}
.text4{
    font-family: 'Lato', sans-serif;
}

.button1{
    border-radius: 12px;
    background-color: #56A17E;
    font-family: 'Lato', sans-serif;
    padding: 12px 12px;
    border:none;
    color: white;
    font-weight: bold;
}
.nav-footer{
    color: white;
    padding: 20px;
    
    
}
.nav-foot{
    /* text-decoration: none; */
    display: inline;
    margin-left: 500px;
    margin-right: 100px;
    
}
.nav-foot a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 5px;
}
.nav-foot-icon{
    display: inline;
    
    
    
}
.nav-foot-icon a img{
    width: 15px;
    height: 14px;
}
.nav-foot-icon a{
    padding: 3px;
}
/* .navbar-landing{
    position: fixed;
}
.collapse navbar-collapse{
    float: right;
} */
.container-2{
    padding: 80px;
    margin: -40px 90px  30vh;
    
}

.container-2 div{
    width: 300px;
    text-align: center;
    display: inline-block;
    padding: 50px;
    font-family: 'Lato', sans-serif;
    
}
.container-2 img{
    width:62.25px ;
    height:62.25px ;
    margin-bottom: 5px;
}
.container-2 h3{
    font-weight: bold;
}