body {
    background-color: #489972;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    /* border: solid 3px red; */
    /* background-color: #489972; */

}

/* .container{
    width: 100%;
    height: 100vh;
    background-color:#eaee ;
    position: relative;
    /* margin: 20px auto; */
/* justify-content: center; */

/* }  */
.form-box {
    /* display: inline-block; */
    width: 90%;
    /* align-items: center; */
    /* max-width: 450px; */
    /* position: relative; */
    /* top: 0%; */
    margin: 0px 50px;
    bottom: 50%;
    left: 50%;
    /* transform: translate(-50%, 50%); */
    background-color: #ffff;
    padding: 30px 60px 50px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    

}

.form-box h1 {
    font-weight: 800;
    color: #56A17E;
    /* font-weight: bold; */
}

.form-box img {
    width: 200px;
    height: 100px;
}
.form-signin{
    text-align: center;
}
.input-group{
    display: inline-block;
    
}
/* .infput-field1{
    margin-bottom: 20px
    ;
} */
.btn1{
    width: 150vh;
    border-radius: 50px;
    background-color: #489972;
    color: #ffff;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.p-signin{
    margin-top: 10px;
}